/* --------------------------------------------
Custom CSS for TIC Programming Challenge

Author:		Camden Rudisill
----------------------------------------------- */


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #41AFA5;
	font-family: sans-serif;
}

/* ------------------------
   	Container
--------------------------*/

.master-container {
	display: flex;
	flex-direction: column;
	text-align: center;

}

.form-container {
	height: 600px;
    width: 400px;
    background-color: black;
    background: url('http://forums.macrumors.com/attachments/image-jpg.573592/');
    background-size: cover;
    background-position: bottom;
}

.background-overlay {
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: rgba(45, 22, 214, 0.38);
    height: 100%;
    width: 100%;

}


.header {
	color: #fff;
	letter-spacing: 4px;
}

#input-area {
	padding: 15px;
    background-color: rgba(104, 104, 107, 0.51);
    width: 75%;
    border: 1px solid transparent;
    border-radius: 11px;
}

#submit-button {
	margin-top: 5px;
	border: none;
    height: 40px;
    background: #5757C3;
    color: white;
    font-size: 15px;
}

#output-container {
	margin-top: 50px;
	width: 100%;
	padding-left: 10px;
	background-color: #fff;
	text-align: left;
}


