/* --------------------------------------------
Custom CSS for TIC Programming Challenge

Author:		Camden Rudisill
----------------------------------------------- */


html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(79, 196, 216);
	font-family: 'Montserrat', sans-serif;
}


.header {
	color: #fff;
    text-align: center;
    letter-spacing: 4px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* ------------------------
   	Master Container
--------------------------*/

.master-container {
	display: flex;
    justify-content: space-around;
	text-align: center;
    width: 75%;

}

/* ------------------------
   	Form Container
--------------------------*/

.form-container {
    height: 600px;
    width: 42%;
    background-color: black;
    background: url('http://forums.macrumors.com/attachments/image-jpg.573592/');
    background-size: cover;
    background-position: bottom;
}

.background-overlay {
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.49);
    height: 100%;
    width: 100%;
    text-align: left;
    box-shadow: 0px 0px 33px 2px rgba(0, 0, 0, 0.45);

}

.label {
	
	align-self: flex-start;
	margin: 40px 0 10px 65px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
}



#input-area {
	padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 75%;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
}

#submit-button {
	margin-top: 9px;
    width: 75%;
    border: none;
    height: 40px;
    background-color: #4082F5;
    color: white;
    font-size: 12px;
    letter-spacing: 3px;
    border-radius: 8px;
    box-shadow: 0px 2px 28px 5px rgba(17, 97, 237, 0.4);
}

#submit-button:hover {
	background-color: rgb(127, 172, 251);
}

/* ------------------------
   	Output Container
--------------------------*/

#output-container {
    width: 75%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: left;
    overflow: scroll;
    border-radius: 8px;
    color: #fff;
}

.notAcceptableText {
	background-color: #CC1F1F;
	padding: 12px;
}

.acceptableText {
	background-color: #77B577;
	padding: 12px;
}

/* ------------------------
	Directions Container
--------------------------*/

.directions-container {
    width: 40%;
    text-align: left;
    color: white;
}

.rule-text {
    margin-bottom: 16px;
}


.example-input {
    margin-top: 45px;
}

.example-input-text {
    background-color: rgb(40, 83, 119);
    padding: 30px;
}

.example-input-header {
    font-size: 22px;
}


